### Task A

The Mean Absolute Deviation and the Mean Deviation are the same -- they calculate the difference between each observed value and the overall mean, take the absolute value of each, add these deviations together, and divide by the total number of observations.

### Task B

1. A (if the sample is large enough -- law of large numbers)
2. C (need N)
3. C
4. A
5. 6
6. 21/36

### Task C
Programming Challenge 1
- Create a python program that simulates 30 random numbers from a normal distribution (mean 19, standard deviation 1)
- Calculate the mean of this sample of 30
- Repeat this exercise 20 times, so in the end you have collected 20 sample means
- What is the average of these sample means, and what is the standard deviation of those 20 sample means?

In [2]:
import numpy as np

s = np.random.normal(19, 1, 30)

In [5]:
mean = np.mean(s)

In [42]:
def randomnormal(n):
    sample = []
    for _ in range(n):
        sample.append(np.random.normal(19, 1, 30))
    return sample

In [43]:
samples = randomnormal(20)
mean = np.mean(samples)
std = np.std(samples)

In [44]:
print(mean)
print(std)

18.9327834924
0.990583454141

Program challenge 2
- You have a test statistic 2, on a 2-tail hypothesis test
- Run a python code that returns every %, from 90 to 100, which will be our confidence intervals
- So your output should equal 90%, 91%,... to 100%
- And next to each confidence interval % value, indicate whether the hypothesis test is rejected or not rejected at that level

In [117]:
test_stat = 2
p_value = 0.0455

In [118]:
import pandas as pd
confidence_interval = np.arange(.90, 1, .01) 
df = pd.DataFrame(array, columns = ['confidence_interval'])
df["alpha"] = 1 - df["confidence_interval"]

In [119]:
df

    confidence_interval  alpha
0                  0.90   0.10
1                  0.91   0.09
2                  0.92   0.08
3                  0.93   0.07
4                  0.94   0.06
5                  0.95   0.05
6                  0.96   0.04
7                  0.97   0.03
8                  0.98   0.02
9                  0.99   0.01
10                 1.00   0.00

In [120]:
reject = []

for row in df['alpha']:
    if row > p_value:
        reject.append('do_not_reject')
    if row < p_value:
        reject.append('reject')
        
df['reject'] = reject

In [121]:
df

    confidence_interval  alpha         reject
0                  0.90   0.10  do_not_reject
1                  0.91   0.09  do_not_reject
2                  0.92   0.08  do_not_reject
3                  0.93   0.07  do_not_reject
4                  0.94   0.06  do_not_reject
5                  0.95   0.05  do_not_reject
6                  0.96   0.04         reject
7                  0.97   0.03         reject
8                  0.98   0.02         reject
9                  0.99   0.01         reject
10                 1.00   0.00         reject